<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
    <link rel="stylesheet" th:ref="style">
</head>
<body>
<button type="button" th:onclick="|window.location.href='/gfa/list'|">List of students</button>
<button type="button" th:onclick="|window.location.href='/gfa/add'|">Add a new student</button>
<button type="button" th:onclick="|window.location.href='/gfa/count'|">Count all students</button>
<button type="button" th:onclick="|window.location.href='/gfa/check'|">Check student</button>
<form th:action="@{/gfa/check}" method="POST">
    <p>
        <label for="name">Check name:</label><br>
        <input type="text" id="name" name="check"><br>
    </p>
    <button type="submit" >Check student</button>
    <p th:text="${check}"></p>
</form>
</body>
</html>