<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel = "stylesheet" th:href = "@{/style.css}" href = "/static/style.css">

<head>
    <title>Simple eshop</title>
    <h1>My Shop</h1>
    <hr size=2 width="40%" color=deepskyblue>
</head>
    <body>
        <div>
            <button type="button" th:onclick="|window.location.href='/btn-onlyAvailable'|">ONLY AVAILABLE</button>
            <button type="button" th:onclick="|window.location.href='/btn-cheapFirst'|">CHEAPEST FIRST</button>
            <button type="button" th:onclick="|window.location.href='/btn-ContainsNike'|">CONTAINS NIKE</button>
            <button type="button" th:onclick="|window.location.href='/btn-averageStock'|">AVERAGE STOCK</button>
            <button type="button" th:onclick="|window.location.href='/btn-mostExpensiveAvailable'|">MOST EXPENSIVE AVAILABLE</button>
        </div>
        <h3 th:text="'Average stock: ' + ${average}">

        </h3>
    </body>
</html>