<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple eshop</title>
    <link rel="stylesheet" th:ref="style">
</head>
<body>
<h1>My Shop</h1>
<button type="button" th:onclick="|window.location.href='/btn-onlyAvailable'|">ONLY AVAILABLE</button>
<button type="button" th:onclick="|window.location.href='/btn-cheapFirst'|">CHEAPEST FIRST</button>
<button type="button" th:onclick="|window.location.href='/btn-ContainsNike'|">CONTAINS NIKE</button>
<button type="button" th:onclick="|window.location.href='/btn-averageStock'|">AVERAGE STOCK</button>
<button type="button" th:onclick="|window.location.href='/btn-mostExpensiveAvailable'|">MOST EXPENSIVE AVAILABLE</button>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price} + ' Kč'"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>
</table>
</body>
</html>